NODE_ENV=""
PORT=
URI=""

# > require('crypto').randomBytes(64).toString('hex')
JWT_SECRET_TOKEN=""

ITEM_PER_PAGE=""

# using my own gmail as email service we will mailgun or mailtrap or mailblue in the future 
EMAIL_SERVICE=""
EMAIL_USERNAME=""
EMAIL_PASSWORD=""
EMAIL_FROM=""
EMAIL_SENDER=""
EMAIL_SECRET=""

